#progress-overview{
    width: 800px;
    height: 400px;
    border: 1px solid black;
}

#columns{
    display: flex;
}

.column{
    width: 20%;
    padding: 1%;
    margin: 20px;
    /* border: 1px solid black; */
}